@font-face {
    font-family: 'Primary';
    src: url('./font/ABCFavoritMono-Book.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Primary";
}

html,
body {
    background: #1a1810;

}

.container {
    width: 100%;
    height: 100vh;
    background: none;
    /* Retire l'image de fond ici */
    overflow: hidden;
    /* Assure que le contenu ne dépasse pas */
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/images/gallery/logan.png") no-repeat center center;
    background-size: cover;
    filter: blur(15px);
    /* Applique un flou sur l'image */
    z-index: 1;
    /* Place le flou sous le contenu */
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    /* Ajoute le dégradé noir avec opacité */
    z-index: 2;
    /* Place le dégradé au-dessus du flou mais sous le contenu */
}

.container * {
    position: relative;
    z-index: 3;
    /* Assure que le contenu est au-dessus du fond et du dégradé */
}

.column {
    width: 50%;
    height: 100vh;
}

.left {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("/images/projects/dessins/3.jpg") no-repeat 50% 50%;
    background-size: cover;
    padding: 20px;
}

.right {
    display: flex;
    padding: 120px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img {
    width: 160px;
    height: 230px;
    margin: 6px;
}

.img-1 {
    background: url("/images/projects/dessins/5.jpg") no-repeat 50% 50%;
    background-size: cover;
}


.img-2 {
    background: url("/images/projects/dessins/2.JPG") no-repeat 50% 50%;
    background-size: cover;
}

.img-3 {
    background: url("/images/projects/dessins/1.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.img-4 {
    background: url("/images/projects/dessins/4.JPG") no-repeat 50% 50%;
    background-size: cover;
}

.header {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
}

.header h1 {
    position: relative;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.link a {
    color: red;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Primary";
}

@media(min-width: 900px) {
    .container {
        display: flex;
    }

    .images {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 900px) {
    .column {
        width: 100%;
    }

    .img {
        width: 400px;
        height: 400px;
    }

    .header {
        font-size: 20px;
        padding: 80px 0;
    }
}